.search-box {
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 300px;
  line-height: 20px;
  margin-bottom: 40px;
  font-family: "Bigelow Rules";
  font-size: 22px;
  font-weight: 900;
}
