body {
  margin: 0;
  padding: 0;
  font-family: 'Sagoe UI', 'Roboto', 'Oxygen', 
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-ocx-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}