body {
  margin: 0;
  padding: 0;
  font-family: "Sagoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-ocx-smoothing: grayscale;
  background: linear-gradient(to left, #940101 0%, #470000 100%);
  text-align: center;
}

.app-title {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #310000;
  font-family: "Bigelow Rules";
}
